.card {
  max-width: 64rem;
  margin: 0 auto;

  background-color: $card-bg-primary;
  border-radius: 10px;

  text-align: center;

  @media (min-width: $bp-tablet) {
    display: flex;
    flex-direction: row-reverse;

    text-align: left;
  }

  &__hero {
    flex-basis: 50%;
    position: relative;

    &:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background: $accent-overlay;
      filter: brightness(0.7);

      border-top-right-radius: 10px;
      border-top-left-radius: 10px;

      @media (min-width: $bp-tablet) {
        border-top-left-radius: 0;
        border-bottom-right-radius: 10px;
      }
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      filter: contrast(2);

      border-top-right-radius: 10px;
      border-top-left-radius: 10px;

      @media (min-width: $bp-tablet) {
        border-top-left-radius: 0;
        border-bottom-right-radius: 10px;
      }
    }
  }

  &__content {
    flex-basis: 50%;
  }

  &__header {
  }

  &__info {
  }

  &__footer {
    @media (min-width: $bp-tablet) {
      display: flex;
      justify-content: space-between;
    }
  }
}

// Animation on load
.fadeIn {
  animation: fadeIn ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
