// Primary Colours
$bg-primary: #090b1a;
$card-bg-primary: #1b1938;
$accent-primary: #aa5cdb;
$accent-overlay: #933bcab3;

// Neutral Colours
$heading-main: #ffffff;
$paragraph-main: #ffffffbf;
$stats-heading: #ffffff99;
