// Typography
$bodyFontSize: 15px;
$fontRegular: 400;
$fontBold: 700;

$primaryFont: "Inter", sans-serif;
$secondaryFont: "Lexend Deca", sans-serif;

// Breakpoints
$bp-mobile: 375px;
$bp-tablet: 768px;
$bp-desktop: 1024px;
